@font-face{
    font-family: 'sacramento.regular';
    font-weight: 100;
    src:url('../fonts/LEVIBRUSH.TTF');
}

@font-face{
    font-family: 'food';
    font-weight: 100;
    src:url('../fonts/Sneaksfood.ttf');
}

h1{
    font-family: 'sacramento.regular'!important;
}

h3{
    font-family: 'food' !important;
    font-weight: 700 !important;
}



body{
    overflow-x: hidden;
}


.wrap{
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
}

.cover{
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    filter: blur(10px);
    -webkit-filter: blur(10px);
    position: relative;
}

.cover-thumb{
    /*position: absolute;*/
    /*left: 75px;*/
    /*top: 90px;*/
    border-radius: 5px;
    width: 30%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.img-holder{
    position: absolute;
    left: 10%;
    top: 90px;
    text-align: left;
}

.head  {
    color: white;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
    font-size: 7vw !important;
}

.subhead  {
    color: white;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
    font-size: 6vw !important;
}

p::first-letter{
    font-size: 36px;
    color: brown;
}

p{
    font-family: raleway;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 50px;
    width: 100%;
    text-align: justify;
}